@navBag: #F0EFED;
.navigation-container {
    position: fixed;
    z-index: 200;
    width: 100%;
    background-color: @navBag;
    border-bottom: 1px solid #ddd;
    .navigation-item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        z-index: 100;
        .logo-img {
            height: 50px;
            img {
                height: 100%;
            }
        }
        .navigation-box {
            text-align: center;
            li {
                height: 50px;
                line-height: 50px;
                cursor: pointer;
            }
        }
        .search-box {
            border: 1px solid #ccc;
            height: 30px;
            background-color: #fff;
            border-radius: 15px;
            display: flex;
            padding: 0 10px;
            cursor: pointer;
            &:hover {
                border: 1px solid #bbb;
            }
            input {
                border: 1px solid rgba(0, 0, 0, 0);
                outline: none;
                font-size: 14px;
            }
        }
    } 
}

@media screen and (min-width: 750px) {
    .navigation-item {
        .search-box {
            margin-right: 10px;
            img {
                margin-left: -3px;
            }
            input {
                display: block;
            }
        }
        .logo-img {
            margin-left: 10px;
            span {
                display: none;
            }
        }
        .navigation-box {
            display: flex;
            justify-content: center;
            li {
                width: 80px;
            }
            li:hover {
                background-color: #EAE3D5;
                border-bottom: 2px solid #8785ff;
            }
        }
        .nav-bar {
            display: none;
        }
    }
    .side-nav {
        display: none;
    }
    .moblie-search {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .navigation-item {
        width: 100%;
        .search-box {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            margin-right: 5px;
            img {
                margin-left: -3px;
            }
            input {
                display: none;
            }
        }
        .logo-img {
            span {
                display: block;
                line-height: 50px;
                font-size: 18px;
            }
            img {
                display: none;
            }
        }
        .navigation-box {
            display: none;
        }
        .nav-bar {
            display: block;
            cursor: pointer;
            margin-left: 5px;
        }
    }
    .side-nav {
        display: block;
        position: absolute;
        height: 100vh;
        background-color: @navBag;
        width: 200px;
        z-index: 21;
        left: -200px;
        transition: left 1s;
        ul {
            li {
                text-align: left;
                height: 50px;
                line-height: 50px;
                padding-left: 15px;
                cursor: pointer;
                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }
    .moblie-search {
        position: absolute;
        background-color: #ddd;
        width: 100%;
        height: 100px;
        font-size: 14px;
        padding-top: 30px;
        transition: left 1s;
        left: -100%;
        z-index: 20;
        .search-query{
            border: 1px solid #ccc;
            border-radius: 15px;
            outline: none;
            height: 30px;
            width: 200px;
            padding-left: 10px;
            margin: 0 15px;
        }
        .search-btn {
            height: 30px;
            width: 80px;
            cursor: pointer;
            border-radius: 15px;
            outline: none;
            border: 1px solid #ccc;
            background-color: #41a1f0;
        }
        .close-search {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }
    }
}